In [4]:
name='vignesh Ramkumar'
age=40
degree = 'BE"
print ("ny name is",name)

ny name is vignesh

In [5]:
print ("My age is {age}")

My age is {age}

In [10]:
## F string which is used for formatting purposes
print (f"My age is {age}")

My age is 40

In [13]:
print ("my Name is {} and my age is {}".format(name,age)) # the datatype could be interchanged and it will give wrong answer

my Name is vignesh and my age is 40

In [14]:
print ("my Name is {} and my age is {}".format(age,name))

my Name is 40 and my age is vignesh

In [17]:
print("My Name is {firstname} and my age is {firstage}".format(firstname=name,firstage=age))

My Name is vignesh and my age is 40

In [20]:
name='vignesh Ramkumar'
age=40
degree = 'BE'
print("My age is {} and I have completed my degree of {} with the name of {}".format(age,degree,name))

My age is 40 and I have completed my degree of BE with the name of vignesh Ramkumar

In [3]:
age = int(input("Enter your age"))
print (age)

Enter your age 12

12

In [9]:
# Assignment 1
Pprice = int(input("Please enter the product price"))
if Pprice<=1000:
    Disamt = Pprice - (Pprice *(30/100))
else:
    Disamt = Pprice - (Pprice*(20/100))
print ("product price after discount is {}".format(Disamt))

Please enter the product price 1000

product price after discount is 700.0

In [6]:
# Assignment 2
## Product price greater than 3000 then 20% off
## Product price greater than or equal to 2000  and less than or equal to 3000 then 30% off
## Product price greater than or equal to 100  and less than to 2000 then 30% off
## 
Pprice = int(input("Please enter the product price"))
if Pprice>3000:
    if(Pprice == 4000):
        print("you have won a trip to Goa")
    Disamt = Pprice - (Pprice *(20/100))
elif Pprice >=2000 and Pprice<=3000:
    if(Pprice == 2999):
        print ("You have won a additional gift")
    Disamt = Pprice - (Pprice *(30/100))
else:
    Disamt = Pprice - (Pprice*(40/100))
print ("product price after discount is {}".format(Disamt))

Please enter the product price 2999

You have won a additional gift
product price after discount is 2099.3

In [7]:
# Single Statement Suites
val = int(input("Enter the value"))
if val<=999: print("value is less than or equal to 999")
else: print("value is greater than 999")

Enter the value 12098

value is greater than 999

# Looping Statements 
1. While
2. For
3. Nested
4. Loop Control (Break, Continue, Pass)

In [2]:
# While Loop
Age = 25
while (Age <=60):
    print (Age)
    Age = Age+1
else:
    print ("You have reached the retirement age")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
You have reached the retirement age

In [3]:
# Another While example

cash=1000
while (cash != 0):
    print (cash)
    cash = cash - 100
print ("ATM is empty")

1000
900
800
700
600
500
400
300
200
100
ATM is empty

In [6]:
## List
lst = ["Vignesh", 2,30,7,"India", "Engineer"]  
type (lst)

list

In [8]:
## For Loop
for i in lst:
    print (i)

Vignesh
2
30
7
India
Engineer

In [13]:
# inorder to display all the list in a single line
for i in lst:
    print (i, end=' ')

Vignesh 2 30 7 India Engineer

In [10]:
# String is also a collection of elements and it would be treated as a list
fruit = 'mango'
for x in fruit:
    print (x)

m
a
n
g
o

In [16]:
for i in range (1,11,3):
    print (i)

1
4
7
10

In [27]:
n=7
for i in range (0,n):
    for j in range (0,i+1):
        print("*",end=' ')
    print("\r")   # /r will move the cursor to the beginning of line and start printing the output

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [28]:
# \t example
print ("This is a first line \t Following line will be displayed post tab")

This is a first line 	 Following line will be displayed post tab

In [36]:
# \r : In the below example Thi in the This word is replaced by tab in the output as we have mentioned \r before tab
print ("This is a first line Following line will be displayed  post \rtab")

tabs is a first line Following line will be displayed  post

In [42]:
for i in range (10,1,-1):
    print (i)

10
9
8
7
6
5
4
3
2

In [100]:
fruit_list = ["mango", "Apple", "Banana", "Berries", "Cherry", "Guava","Watermelon","Pomegrante"]
type(fruit_list)

list

In [101]:
for i in fruit_list:
    print (i)

mango
Apple
Banana
Berries
Cherry
Guava
Watermelon
Pomegrante

In [103]:
for i in fruit_list:
    if (i == "Watermelon"):
        print("good to have Watermelon in Summer")
    print (i)

mango
Apple
Banana
Berries
Cherry
Guava
good to have Watermelon in Summer
Watermelon
Pomegrante

In [104]:
# Break Statement : Break will completely break the loop and come out once the condition is true
for i in fruit_list:
    if (i == "Watermelon"):
        print("good to have Watermelon in Summer")
        break
    print (i)

mango
Apple
Banana
Berries
Cherry
Guava
good to have Watermelon in Summer

In [105]:
# Pass statement : Pass will continue to run the remaining loop and complete it 
for i in fruit_list:
    if (i == "Watermelon"):
        print("good to have Watermelon in Summer")
        pass
    print (i)

mango
Apple
Banana
Berries
Cherry
Guava
good to have Watermelon in Summer
Watermelon
Pomegrante

In [106]:
# Continue Statement: Continue will continue the loop but when the true condition comes, it will not display the Watermelon and instead displays the print statement inside the nested loop
for i in fruit_list:
    if (i == "Watermelon"):
        print("good to have Watermelon in Summer")
        continue
    print (i)

mango
Apple
Banana
Berries
Cherry
Guava
good to have Watermelon in Summer
Pomegrante